:root {
	color-scheme: light dark;

	--font-body: 'Source Sans Pro';
	--font-mono: 'Source Code Pro';
	--font-serif: 'Source Serif Pro';

	--font-size-normal: 16px;
	--font-size-lg: 18px;
	--font-size-sm: 14px;
	--font-size-xs: 12px;

	--font-weight-normal: 400;
	--font-weight-sb: 600;

	--color-body-bg: #ffffff;
	--color-body-text: #000000;
	--color-body-bg-rgb: 255, 255, 255;
	--color-body-text-rgb: 0, 0, 0;

	--grey-100: #f0f0f0;
	--grey-150: #f9f9f9;
	--grey-200: #ececec;
	--grey-300: #999999;
	--grey-400: #666666;
	--grey-500: #2c2c2c;

	--success-highlight: #eafaea;

	--spacing-3: 3px;
	--spacing-4: 4px;
	--spacing-6: 6px;
	--spacing-8: 8px;
	--spacing-12: 12px;
	--spacing-15: 15px;
	--spacing-24: 24px;
	--spacing-48: 48px;

	--container-width: 100%;
}

@media (min-width: 1280px) {
	:root {
		--container-width: 1280px;
	}
}

html {
	scroll-behavior: smooth;
	line-height: 1.25;
	-webkit-text-size-adjust: 100%;
}

body {
	width: 100%;
	min-height: 100dvh;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: var(--color-body-text);
	background-color: var(--color-body-bg);
	font-family: var(--font-body);
	font-weight: 400;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
	border-style: none;
}

@media (prefers-color-scheme: dark) {
	:root {
		--success-highlight: #052b05;
		--color-body-bg: #000000;
		--color-body-text: #ffffff;
		--color-body-bg-rgb: 0, 0, 0;
		--color-body-text-rgb: 255, 255, 255;

		background-color: var(--color-body-bg);
		color: var(--color-body-text);
	}
}
