:root {
	/* color-scheme: light dark; */

	--font-body: 'Source Sans Pro';
	--font-mono: 'Source Code Pro';
	--font-serif: 'Source Serif Pro';

	--font-weight-normal: 400;
	--font-weight-sb: 600;

	--color-body-bg: #ffffff;
	--color-body-text: #181818;
	--color-body-bg-rgb: 255, 255, 255;
	--color-body-text-rgb: 24, 24, 24;
	--color-black: #000000;
	--color-black-rgb: 0, 0, 0;
	--color-red: #ff0000;
	--color-red-rgb: 255, 0, 0;

	--color-success: #12bb10;
	--color-danger: #fff2f2;
	--color-danger-rgb: 255, 242, 242;

	--grey-100: #f0f0f0;
	--grey-150: #f9f9f9;
	--grey-200: #ececec;
	--grey-200-rgb: 236, 236, 236;
	--grey-300: #999999;
	--grey-400: #666666;
	--grey-500: #2c2c2c;

	--success-highlight: #eafaea;

	--spacing-3: 3px;
	--spacing-4: 4px;
	--spacing-6: 6px;
	--spacing-8: 8px;
	--spacing-12: 12px;
	--spacing-15: 15px;
	--spacing-24: 24px;
	--spacing-48: 48px;

	--blur: 3px;

	--font-size-xl: 18px;
	--font-size-lg: 16px;
	--font-size-normal: 14px;
	--font-size-sm: 12px;
	--font-size-xs: 12px;

	--container-width: 100%;
}

h1:not(:empty),
h2:not(:empty),
h3:not(:empty),
.h1:not(:empty),
.h2:not(:empty),
.h3:not(:empty) {
	font-family: var(--font-body);
	font-weight: var(--font-weight-sb);
	font-style: normal;
}

h1:not(:empty),
.h1:not(:empty) {
	font-size: var(--font-size-xl);
}

h2:not(:empty),
.h2:not(:empty) {
	font-size: var(--font-size-lg);
}

h3:not(:empty),
.h3:not(:empty) {
	font-size: var(--font-size-normal);
}

.text-large {
	font-size: var(--font-size-lg);
}

@media (min-width: 398px) {
	:root {
		--font-size-xl: 20px;
		--font-size-lg: 18px;
		--font-size-normal: 16px;
		--font-size-sm: 14px;
	}
}

html {
	scroll-behavior: smooth;
	line-height: 1.25;
	-webkit-text-size-adjust: 100%;
	overflow-wrap: anywhere;
}

body {
	width: 100%;
	min-height: 100dvh;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: var(--color-body-text);
	background-color: var(--color-body-bg);
	font-family: var(--font-body);
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-normal);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img,
picture,
video {
	display: block;
	max-width: 100%;
	border-style: none;
}

a {
	color: var(--color-black);
	text-decoration: underline;
}

@media (min-width: 1280px) {
	:root {
		--container-width: 1280px;
	}
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--success-highlight: #052b05;
		--color-body-bg: #000000;
		--color-body-text: #ffffff;
		--color-body-bg-rgb: 0, 0, 0;
		--color-body-text-rgb: 255, 255, 255;

		background-color: var(--color-body-bg);
		color: var(--color-body-text);
	}
} */
