:root {
	--font-body: 'Source Sans Pro';
	--font-mono: 'Source Code Pro';

	--color-secondary: #fff;
	--color-primary: #000;
	--color-grey-border: #ddd;
	--color-grey-background: #f0f0f0;
	--color-light-grey-background: #ececec;

	--color-text: #000;

	--spacing-3: 3px;
	--spacing-6: 6px;
	--spacing-12: 12px;
	--spacing-15: 15px;
	--spacing-24: 24px;
	--spacing-48: 48px;
}

body {
	width: 100vw;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: var(--color-text);
	background-color: var(--color-secondary);
	font-family: 'Source Sans Pro';
	font-weight: 400;
}
