:root {
	color-scheme: light dark;

	--font-body: 'Source Sans Pro';
	--font-mono: 'Source Code Pro';

	--color-secondary: #fff;
	--color-primary: #000;
	--color-light-grey-border: #ddd;
	--color-dark-grey-border: #252525;
	--color-grey-background: #f0f0f0;
	--color-light-grey-background: #ececec;
	--color-grey-text: #999;
	--color-dark-grey-text: #2c2c2c;

	--color-text: #000;

	--spacing-3: 3px;
	--spacing-6: 6px;
	--spacing-12: 12px;
	--spacing-15: 15px;
	--spacing-24: 24px;
	--spacing-48: 48px;

	--spacing-4: 4px;
	--spacing-8: 8px;
}

body {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: var(--color-text);
	background-color: var(--color-secondary);
	font-family: 'Source Sans Pro';
	font-weight: 400;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding:0;
	font: inherit;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

@media (prefers-color-scheme: dark) {
	body {
		color: var(--color-secondary);
		background-color: var(--color-text);
	}
}