:root {
	--font-body: 'Source Sans Pro';
	--font-mono: 'Source Code Pro';

	--color-light-grey: #ddd;
	--color-white: #fff;
	--color-black: #000;
}

body {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: var(--color-black);
	background-color: var(--color-white);
	font-family: 'Source Sans Pro';
	font-weight: 400;
}
