name: Check

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '**'

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install npm deps
        # Hardhat is missing some dependencies on linux due to https://github.com/npm/cli/issues/4828
        run: rm -rf package-lock.json && npm install

      - name: Install browser runners
        run: npx playwright install

      - name: Test
        run: npm run test --workspaces --if-present

      - name: Check the build
        run: npm run check --workspaces --if-present

      - name: Code linting
        run: npm run lint --workspaces --if-present
